footer{
  background: #AA0601;
}
footer>.container>div{
  padding-top: 48px;
  padding-bottom: 24px;
}
footer>.container>div>div>ul{
  align-items: center;
}
footer>.container>div>div>ul>li{
  margin-right: 48px;
  margin-bottom: 36px;
  color: #FFFFFF;
  font-size: 16px;
}
footer>.container>div>div>ul>li:hover{
  transform: scale(1.2);
  transition: 0.5s;
}
.community>a>img{
  width: 48px;
  height: 48px;
}
.community>a{
  margin-left: 32px;
}
.phone,.mail{
  font-size: 36px;
  color: #FFFFFF;
  margin-bottom: 8px;
}
.phone span,.mail span{
  text-align: center;
  font-size: 48px;
  margin-right: 20px;
}
.copyright{
  color: #FFFFFF;
  font-size: 16px;
  border-top: 1px solid #FFFFFF;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-top: 24px;
}
.terms>a{
  margin-left: 48px;
}


@media (max-width: 992px){
    footer>.container{
      margin-left: 36px;
      margin-right: 36px;
    }
}

@media (max-width: 768px){
    footer>.container{
      margin-left: 12px;
      margin-right: 12px;
  }
  footer>.container>div>div>ul{
      display: none;
  }
  .community{
    margin-left: 57px;
  }
  .community>a>img{
    width: 24px;
    height: 24px;
  }
  .community>a{
    margin-left: 8px;
  }
  .phone,.mail{
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 11px;
  }
  .phone>span,.mail>span{
    text-align: center;
    font-size: 24px;
    margin-right: 11px;
  }
  .copyright{
    display: block;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 24px;
  }
  .terms{
    display: flex;
    flex-direction: column;
  }
  .terms>a{
    margin-left: 0;
    margin-top: 8px;
  }
}
