
/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/

.banner {
    background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 787px;
}
.banner>.container {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}
.banner>.container>div {
    display: block;
}
.banner>.container>div>p:nth-child(1) {
    font-size: 36px;
}
.banner>.container>div>p:nth-child(2) {
    font-size: 64px;
    font-weight: bold;
}
.characteristic {
    background-color: #FBF2F2;
}
.characteristic>.container {
    padding: 80px 0;
 }

 .characteristic>.container>div {
    margin-bottom: 32px;
 }
.characteristic>.container>div>p {
    font-size: 48px;
    font-weight: bold;
 }
 .characteristic>.container>.row>div {
    margin-top: 24px;
 }
 .characteristic>.container>.row>div>div {
    text-align: center;
 }

 .characteristic>.container>.row>div>div>img {
    width: 84px;
    height: 84px;
 }
 .characteristic>.container>.row>div>div>p:nth-child(2) {
    font-size: 24px;
    font-weight: bold;
    padding-top: 24px;
    padding-bottom: 8px;
}
.series>.container {
    padding: 0px;
    padding: 80px 0;
 }
.series>.container>div {
    margin-bottom: 32px;
}
.series>.container>div>p {
    font-size: 48px;
    font-weight: bold;
}
.series>.container>.row>div>p:nth-child(2){
    margin-top: 8px;
    color: #AA0601;
    font-weight: bold;
    font-size: 48px;
    font-style: italic;
}

.joint {
    background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.joint>.container {
    padding: 80px 0;
}
.joint>.container>div {
    margin-bottom: 32px;
}
.joint>.container>div>p {
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
}
.joint>.container>.row>div>img {
    height: 240px;
}
.joint>.container>.row>div>p {
    background-color: #FFFFFF;
    color: #AA0601;
    font-weight: bold;
    font-size: 48px;
    font-style: italic;
}

.recommend>.container {
    padding: 80px 0;
 }
.recommend>.container>div {
    margin-bottom: 32px;
}
.recommend>.container>div>p {
    font-size: 48px;
    font-weight: bold;
}

.recommend>.container>.row>div>div {
    display: flex;
    flex-direction: column;
    padding:16px;
    height: 202px;
    box-shadow: 0px 2px 6px #00000029;
    border: 1px solid #DEE2E6;
    border-radius: 4px;
}
.recommend>.container>.row>div>div>p {
    font-size: 16px;
    font-weight: 700;
}
.recommend>.container>.row>div>div>p:nth-child(1) {
    padding-bottom: 8px;
}
.recommend>.container>.row>div>div>p:nth-child(2) {
    
}
.recommend>.container>.row>div>div>p:nth-child(3) {
    margin-top: auto;
    font-size: 14px;
    color: #707070;
}
.form {
    background-color: #FBF2F2;
}

.form>.container {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form>.container>div {
    margin-bottom: 32px;
}
.form>.container>div>p {
    font-size: 48px;
    font-weight: bold;
}
.form>.container>p {
    width: 636px;
    margin-bottom: 24px;
} 

.form-list {
    display: flex;
    flex-direction: column;
    width: 636px;
    margin-bottom: 16px;
}
.form-list>input {
    height: 36px;
}

.from-btn {
    width: 416px;
    height: 56px;
    background-color: #AA0601;
    color: #FFFFFF;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    margin-top: 48px;
}

/* footer */

@media (max-width: 992px){
    .series>.container>.row>div>div>p:nth-child(2){
        margin-bottom: 24px;
    }
    .series>.container {
        max-width: 336px;
    }
    .joint>.container>.row>div>p {
        max-width: 648px;
    }
    .joint {
        background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-md.png?raw=true);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 900px;
    }
    .joint>.container>.row>div {
        margin: 0 auto;
        max-width: 696px;
        padding-left: 20px;
        margin-bottom: 32px;
        
    }
    .recommend>.container>.row>div {
        margin-bottom: 24px;
    }
    .recommend-text {
        max-width: 612px;
        height: 205px;
    }
    .form>.container>p {
        max-width: 576px;
    }
    .form-list{
        max-width: 576px;
    } 
    .from-btn {
        max-width: 336px;
    }
    .community>a>img{
        width: 40px;
        height: 40px;
    }
    .community>a{
        margin-left: 16px;
    }

}
@media (max-width: 768px){
    .container {
        padding: 0px;
    }

    .banner {
        background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true);
     }
     .banner>.container {
        padding: 0px 12px;
     }
     .banner>.container>div {
        height: 396px;
    } 
    
    .banner>.container>div>p:nth-child(1) {
        font-size: 16px;
    }
    .banner>.container>div>p:nth-child(2) {
        font-size: 24px;
        margin-bottom: 8px;
    } 
    .characteristic>.container {
        max-width: 375px;
    }
     .characteristic>.container>div {
        margin-bottom: 32px;
    }
    .characteristic>.container>div>p {
        font-size: 24px;
    }
    .characteristic>.container>.row>div>div>p:nth-child(2){
        margin-top: 32px;
    }
    .series>.container {
        max-width: 100%;
        text-align: center;
    }
    .joint {
        background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-sm.png?raw=true);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 900px;
    }
    .joint>.container>.row>div {
        margin: 0 auto;
        max-width: 348px;
        padding-left: 0px;
        margin-bottom: 32px;
    }
    .recommend>.container>.row>div {
        margin-bottom: 16px;
    }
    .recommend>.container>.row>div>img{
        width: 100%;
    }
    .form>.container>p {
        max-width: 348px;
    }
    .form-list{
        max-width: 348px;
    } 
    .from-btn {
        max-width: 348px;
    }
    .form-agree{
        max-width: 348px;
     }

}






